.SignInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.SignInForm img {
  margin: 10px;
}

.version-text {
  padding: 10px;
  float: right;
}
.signIn-form-button {
  width: 100%;
}

/* override antd css*/
.SignInForm .ant-form {
  width: 300px;
}
