.FormModal {
  width: 50% !important;
}

@media screen and (max-width: 1024px) {
  .FormModal {
    width: 70% !important;
  }
}

@media screen and (max-width: 768px) {
  .FormModal {
    width: 80% !important;
  }
}

@media screen and (max-width: 426px) {
  .FormModal {
    width: 90% !important;
  }
}

.map-drawer .ant-drawer-body {
  padding: 0;
}
