.EventToolbar {
  /* border-bottom: 1px solid #e8e8e8; */
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.EventDetailsSectionHeader {
  margin: 0 30px 20px 0;
  border-bottom: 1px solid #ededed;
}
