.data-widget {
  height: calc((100vh - 64px) / 6);
}

.data-widget img {
  height: 10vh;
  width: 10vh;
}

.data-widget .value {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 3vh;
  font-weight: 700;
  color: #039be5;
}

.data-widget .label {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.5vh;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #929191;
}

.data-widget .header {
  text-transform: uppercase;
  color: #039be5;
  font-weight: 700;
}

.data-widget .text-muted {
  float: inline-end;
  font-size: 14px;
  color: #8d898d;
}
