.map-widget {
  /* height: calc(100vh - (70px + ((100vh - 64px) / 6))); */
  height: calc(100vh - (71px + (100vh - 64px) / 6));
  background-color: #fafafa;
  width: 100%;
}

.ZoomControl {
  position: absolute;
  z-index: 10000;
  top: 10px;
  left: 10px;
}

.ZoomControl button {
  display: block;
  height: 50px;
  margin: 5px;
}
